<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Seda & Brillo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="normalize.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">    
        <script src="https://kit.fontawesome.com/5f26f367ee.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include("../partials/header") %>
        <span>
           <a href="/productos/crear"><button class="button" type="submit">Agregar producto</button></a>
        </span>
        <div class="container">
            <div class="row">
                <% for(let i=0;i<productos.length;i++) { %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        <a href="/productos/detalledeproducto/<%=productos[i].id%>">
                            <figure class="product-box_image">
                                <img width="300" height="300" src="/img/<%=productos[i].imagen%>" alt="imagen de producto">
                            </figure>
                            <article class="product-box_data" >
                                <form method="POST" action="/productos/eliminar/<%=productos[i].id%>?_method=DELETE">
                                    <a href="/productos/eliminar/<%=productos[i].id%>">
                                    <button class="button" type="submit" id="botoneliminar">Eliminar</button>
                                    </a>
                                </form>
                                <a href="/productos/editar/<%=productos[i].id%>"><button class="button" type="submit">Editar</button></a>
                            </article>
                       </a>                    
                    </section>
                </div>
                <%}%>
            </div>
        </div>
        <footer class="footer-dark">
            <div class="col item social"><p>Seguinos en nuestras redes sociales:</p></div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            <p class="copyright">Seda & Brillo © 2022</p>
        </footer>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="../js/listadodeproductos.js"></script>
    </body>

</html>