<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title><%=producto.nombre%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">    
        <script src="https://kit.fontawesome.com/5f26f367ee.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include ("../partials/header") %>

        <div class="container products-wrapper">
            <div class="row">
                <div class="col-12">
                    <h2 class="products-title">Detalle del producto: <%=producto.nombre%></h2>
                </div>
            </div>
            <div class="product-detail">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <img src="/img/<%=producto.imagen%>" alt="product image" class="product-detail-img">
                        <p class="product-detail-description">
                            <%=producto.descripcion%>
                        </p>
                    </div>
                    <div class="col-12 col-lg-4">
                        <article class="product-detail-info">
                            <h2 class="product-detail-title"><%=producto.nombre%></h2>
                            
                                <p class="">
                                    <h3><span>$<%=producto.precio%></span></h3>
            
                                    <b>DESCUENTO <%=producto.descuento%> % OFF</b>
                                    
                                </p>
                                <p>
                
                                    <p style="display:block">
                                    <script>
                                         var i = 0;
                                         function buttonClickless() {
                                             if (document.getElementById('inc').value>0){
                                                i--  
                                                document.getElementById('inc').value = i;  
                                             } 
                                           
                                         }
                                    </script>
                                    <button onclick="buttonClickless()">-</button>
                                    <input style="text-align: center;" value="1" id="inc" name="cantidad"></input>
                                    <script>
                                        var i = 0;
                                        function buttonClick() {
                                            i++;
                                            document.getElementById('inc').value = i;
                                        }
                                    </script>
                                    <button onclick="buttonClick()">+ </button>
                                    </p>
                                    <a>
                                    <button class="button" onclick="agregar(['<%=producto.nombre%>', '<%=producto.precio%>'])" id="botonCarrito" ><h5>Añadir al carrito</h5></button>
                                    </a>
                                </p>
                            </div>
                        </article>  
                    </div>
                </div>
            </div>
        
           
        </div>
        <br>
        <%- include ("../partials/footer") %>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="../js/agregarCarrito.js"></script>
    </body>

</html>